<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nh.micro.demo.dao.MicroTestMapper" >
    <resultMap id="TestDto" type="com.nh.micro.demo.entity.TestDto" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="meta_name" property="metaName" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="extcol" property="extcol" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="createJson" parameterType="com.nh.micro.demo.entity.TestDto">
	insert into micro_test(meta_name, create_time, extcol) values(#{metaName}, now(), #{extcol})
  </insert>
    <select id="getInfo4JsonXml" resultMap="TestDto" >
	SELECT * from micro_test
  </select>
    <update id="updateJson" parameterType="com.nh.micro.demo.entity.TestDto">
	update micro_test set extcol=json_merge_patch(extcol, #{extcol}) where id=#{id}
  </update>
    <update id="updateJsonSubcol" parameterType="com.nh.micro.demo.entity.TestDto">
	update micro_test set extcol=json_set(extcol,'$.insureNum', #{extcol.innerMap.insureNum}) where id=#{id}
  </update>
    <update id="updateJsonAll" parameterType="com.nh.micro.demo.entity.TestDto">
	update micro_test set extcol=#{extcol} where id=#{id}
  </update>
</mapper>
